-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: admission_esiee
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `defraiement`
--

DROP TABLE IF EXISTS `defraiement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `defraiement` (
  `id` int NOT NULL AUTO_INCREMENT,
  `participationId` int NOT NULL,
  `type` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Transports',
  `trajetA` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trajetB` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `distanceKmAR` double DEFAULT NULL,
  `amountCalculated` decimal(10,2) DEFAULT NULL,
  `breakfastWanted` tinyint(1) NOT NULL DEFAULT '0',
  `lunchSalon` decimal(10,2) NOT NULL DEFAULT '0.00',
  `justificatifName` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `justificatifDataUrl` longtext COLLATE utf8mb4_unicode_ci,
  `justificatifOwnerEmail` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Non demande',
  `adminMessage` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Defraiement_participationId_key` (`participationId`),
  CONSTRAINT `Defraiement_participationId_fkey` FOREIGN KEY (`participationId`) REFERENCES `participation` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `defraiement`
--

LOCK TABLES `defraiement` WRITE;
/*!40000 ALTER TABLE `defraiement` DISABLE KEYS */;
INSERT INTO `defraiement` VALUES (1,1,'Transports','','',NULL,NULL,0,0.00,'','','','Non demande',''),(2,2,'Transports','','',NULL,NULL,0,0.00,'','','','Non demande',''),(3,3,'Transports','','',NULL,NULL,0,0.00,'','','','Non demande','');
/*!40000 ALTER TABLE `defraiement` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-19 19:00:48
